[Unit]
Description=Node Exporter
After=network.target

[Service]
User=__USER__
Group=__GROUP__
Type=simple
EnvironmentFile=/etc/systemd/system/node-exporter.d/node-exporter.conf
ExecStart=/opt/otelcol/node_exporter $OPTIONS

[Install]
WantedBy=multi-user.target