[Unit]
Description=Prometheus Process Exporter
After=network.target

[Service]
ExecStart=/opt/otelcol/process-exporter -config.path /etc/otelcol/process-exporter.yaml
KillMode=mixed
Restart=on-failure
Type=simple
User=__USER__
Group=__GROUP__

[Install]
WantedBy=multi-user.target